<!DOCTYPE html>
<html lang="es">
<head>
<title>{{ page.title }}</title>
<meta charset="utf-8" />
</head>
<body>
<header>
<h1>{{ site.title }}</h1>
<h2>{{ site.author }}</h2>
<details>
<summary>Índice</summary>
<nav aria-label="Índice">
<ul>
<li><a href="index.html">Introducción</a></li>
<li><a href="filosofias.html">Formas de editar un documento.</a></li>
<li><a href="herramientas.html">Herramientas necesarias.</a></li>
<li><a href="etiquetas.html">Etiquetas</a></li>
<li><a href="legibilidad.html">Legibilidad</a></li>
<li><a href="saltos.html">Saltos de línea</a></li>
<li><a href="encabezados.html">Encabezados</a></li>
<li><a href="listas.html">Listas</a></li>
<li><a href="enlaces.html">Enlaces</a></li>
<li><a href="imagenes.html">Imágenes</a></li>
<li><a href="tablas.html">Tablas</a></li>
<li><a href="caracteresEspeciales.html">Caracteres especiales</a></li>
<li><a href="archivoCompleto.html">Archivo html completo</a></li>
</ul>
</nav>
</details>
</header>
<main>
<h1>{{ page.title }}</h1>
{{content}}
</main>
</body>
</html>